.newTask {
    width: 100%;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #a259ff, #008cff);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.modal input, textarea, textarea:focus, select {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0d0c11;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 0.6rem;
    margin-bottom: 1rem;

    color: #ffffff;
}

.modal-content {
    background: linear-gradient(135deg, hsl(240, 9%, 13%), hsl(240 8% 6%));

    color: #ffffff;
    border: #3c225e solid 1px;
}

.modal-header {
    border: #3c225e solid 1px;
}

.modal-footer {
    border: #3c225e solid 1px;
}

::placeholder {
    color: #b4b4b4;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.typeTasks .card {
    background-color: #15131a;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #999797;
    height: 80%;
    justify-items: center;
}

.col1 .card {
    background-color: #15131a;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.col1, .card, p {
    color: #999797;
    font-size: 14px;
}

.spanD {
    background-color: #3c225e65;
    border: 1px solid #552f86;
    border-radius: 10px;
    font-size: smaller;
    padding: 2px 8px;

    color: #a560ff;
}

.low-priority {
    background-color: #1361252f;
    border: 1px solid #21b652;
    border-radius: 10px;
    font-size: smaller;
    padding: 2px 8px;

    color: rgb(2, 212, 2);
}

.medium-priority {
    background-color: #6a750321;
    border: 1px solid #d16806;
    border-radius: 10px;
    font-size: smaller;
    padding: 2px 8px;

    color: #e58900;
}

.high-priority {
    background-color: #a10f0f2f;
    border: 1px solid #bb0404;
    border-radius: 10px;
    font-size: smaller;
    padding: 2px 8px;

    color: rgb(204, 1, 1);
}

.spanP {
    background-color: #6a750321;
    border: 1px solid #6a7503;
    border-radius: 10px;
    font-size: smaller;
    padding: 2px 8px;

    color: #bbbe05;
}

.spanDO {
    background-color: #1361252f;
    border: 1px solid #1b8b40;
    border-radius: 10px;
    font-size: smaller;
    padding: 2px 8px;

    color: green;
}

.taskcard .options {
    display: none !important;
}

.taskcard:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(192, 48, 180, 0.2);
}

.taskcard:hover .options {
    display: flex !important;
}

.filter {
    background-color: #15131a;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #999797;
}

.warning {
    background-color: #ffda052c;
    border: 1px solid #ffae00;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #999797;
}

.danger {
    background-color: #ff4c4c2c;
    border: 1px solid #ff1a1a;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #999797;
}

.admin {
    background-color: #ff4c4c2c;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #d10c0c;

    text-align: center;
    align-self: center;

    width: 80px;
    height: 20px;
    font-size: 14px;
}

.creator {
    background-color: #ffda052c;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #d1a50c;

    text-align: center;
    align-self: center;

    width: 80px;
    height: 20px;
    font-size: 14px;
}   

.user {
    background-color: #4e4e4e65;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #bebebe;

    text-align: center;
    align-self: center;

    width: 80px;
    height: 20px;
    font-size: 14px;
}