<nav class="navbar navbar-expand-lg bg-dark-subtle" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Brand -->
     <a routerLink="/dashboard">
    <img src="assets/Images/back.png" style="width: 30px;"/>
    </a>
    <div class="text-center mx-auto">
      <h1 class="navbar-brand mb-0 h1" style="font-size: 26px; margin-left: 25%;">{{session?.title}}</h1>
    </div>
    <div class="text-end">
      <button class="btn btn-outline-primary newTask" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="d-flex justify-content-between">
          <div class="p-1">+</div>
          <div class="p-1">New Task</div>
        </div>
      </button>
    </div>


    <!-- Toggler (mobile view) 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-4 typeTasks">
      <div class="card">
        <div class="card-body">
            <h3 class="text-center" style="color: #a259ff;">{{todoTaskCount}}</h3>
            <h6 class="card-title text-center">To Do</h6>
        </div>
      </div>
    </div>
    <div class="col-4 typeTasks">
      <div class="card">
        <div class="card-body">
            <h3 class="text-center" style="color: yellow;">{{inProgressTaskCount}}</h3>
            <h6 class="card-title text-center">In Progress</h6>
        </div>
      </div>
    </div>
    <div class="col-4 typeTasks">
      <div class="card">
        <div class="card-body">
            <h3 class="text-center" style="color: green;">{{doneTaskCount}}</h3>
            <h6 class="card-title text-center">Done</h6>
        </div>
      </div>
    </div>

    <div class="col-4 mt-4 col1">
      <div class="card mb-3 display" style="border: 2px dashed #552f86; border-radius: 8px; background-color: #a159ff0e; min-height: 600px;">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold">To Do</h5>
          </div>
          <p class="card-text">Tasks that need to be started</p>
          <p class="card-text">{{todoTaskCount}} task</p>

          <div *ngFor="let task of session?.tasks">
            <div *ngIf="task.status === 'To Do'" class="card mb-2" style="border: 1px solid rgb(39, 39, 39); border-left: 4px solid #552f86; border-radius: 8px;">
              <div class="card-body" style="margin-bottom: 15px;">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title" style="width: 80%;">{{task.title}}</h5>
                  <select class="form-select" style="width: 120px; height: 30px; font-size: 12px; padding: 2px;">
                    <option selected>To Do</option>
                    <option>In Progress</option>
                    <option>Done</option>
                  </select>
                </div>
                <p class="card-text">{{task.description}}</p>
              </div>
              <div class="card-footer d-flex justify-content-between" style="height: 30px;">
                <p class="card-text"><small>{{task.assignedToUserName}}</small></p>
                <p class="card-text"><small>{{task.dueDate | date:'mediumDate'}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4 col1">
      <div class="card mb-3 display" style="border: 2px dashed #6a7503; border-radius: 8px; background-color: #6a750321; min-height: 600px;">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold">In Progress</h5>
          </div>
          <p class="card-text">Tasks currently being worked on</p>
          <p class="card-text">{{inProgressTaskCount}} task</p>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4 col1">
      <div class="card mb-3 display" style="border: 2px dashed #1d7432; border-radius: 8px; background-color: #28a7461a; min-height: 600px;">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold">Done</h5>
          </div>
          <p class="card-text">Completed tasks</p>
          <p class="card-text">{{doneTaskCount}} task</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal for creating task-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create task</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="taskTitle" class="form-label">Title:</label>
            <input type="text" maxlength="50" class="form-control" id="taskTitle" placeholder="Enter title" [(ngModel)]="createdTaskModel.title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="taskDescription" class="form-label">Description:</label>
            <input type="text" maxlength="50" class="form-control" id="taskDescription" placeholder="Enter description" [(ngModel)]="createdTaskModel.description" name="description" required>
          </div>
          <div class="mb-3">
            <label for="taskDueDate" class="form-label">Due Date:</label>
            <input type="date" class="form-control" id="taskDueDate" [(ngModel)]="createdTaskModel.dueDate" name="dueDate" required>
          </div>
          <div class="mb-3">
              <select class="form-select" id="inputGroupSelect01" [(ngModel)]="assignedToUserName" name="assignedToUserName" aria-placeholder="Select user to assign" required>
                  <option hidden>Select user to assign</option>
                  <div *ngFor="let user of users">
                    <option value="{{user.userName}}">{{user.userName}}</option>
                  </div>
              </select>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="createTask()" data-bs-dismiss="modal">Add task</button>
      </div>
    </div>
  </div>
</div>
