<nav class="navbar navbar-expand-lg bg-dark-subtle" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Brand -->
     <a routerLink="/dashboard">
    <img src="assets/Images/back.png" style="width: 30px;"/>
    </a>
    <div class="text-center mx-auto">
      <h1 class="navbar-brand mb-0 h1" style="font-size: 26px; margin-left: 25%;">{{session?.title}}</h1>
    </div>
    <div class="text-end">
      <button class="btn btn-outline-primary newTask" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="d-flex justify-content-between">
          <div class="p-1">+</div>
          <div class="p-1">New Task</div>
        </div>
      </button>
    </div>

    <!-- Toggler (mobile view) 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="text-center" style="margin-bottom: 1rem;">
      <div class="col-12 d-flex justify-content-start align-items-center filter">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16" style="margin-left: 10px;">
            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
          </svg>
          <div class="d-flex align-items-center gap-3" style="margin-left: 10px;">
            <!-- Filter -->
            <div class="d-flex align-items-center">
              <span class="label-text">Filter:</span>
                <select class="form-select" (change)="filterTasksByUser($event.target.value)"style="width: 150px; height: 30px; font-size: 12px; padding: 2px; margin-left: 10px; margin-top: 18px; font-size: 14px; padding-left: 10px;">
                  <option value="All" selected>All assignees</option>
                  <option *ngFor="let user of session?.userSessions" [value]="user.userName">
                    {{ user.userName }}
                  </option>
                </select>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
            </svg>

            <!-- Sort -->
            <div class="d-flex align-items-center">
              <span class="label-text">Sort by:</span>
              <select (change)="SortBy($event.target.value)" class="form-select" style="width: 150px; height: 30px; font-size: 12px; padding: 2px; margin-left: 10px; margin-top: 18px; font-size: 14px; padding-left: 10px;">
                <option value="Created" selected>Created</option>
                <option value="DueDate">Due Date</option>
                <option value="MostRecent">Most Recent</option>
                <option value="Priority">Priority</option>
              </select>
            </div>
          </div>
        </div>
    </div>
    <div class="col-4 typeTasks">
      <div class="card">
        <div class="card-body">
            <h3 class="text-center" style="color: #a259ff;">{{todoTaskCount}}</h3>
            <h6 class="card-title text-center">To Do</h6>
        </div>
      </div>
    </div>
    <div class="col-4 typeTasks">
      <div class="card">
        <div class="card-body">
            <h3 class="text-center" style="color: yellow;">{{inProgressTaskCount}}</h3>
            <h6 class="card-title text-center">In Progress</h6>
        </div>
      </div>
    </div>
    <div class="col-4 typeTasks">
      <div class="card">
        <div class="card-body">
            <h3 class="text-center" style="color: green;">{{doneTaskCount}}</h3>
            <h6 class="card-title text-center">Done</h6>
        </div>
      </div>
    </div>

    <div *ngIf="hasDueSoonTasks()">
      <div class="col-12 warning">
        <div class="d-flex justify-content-start align-items-center" style="margin-top: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="margin-left:10px;" fill="currentColor" class="bi bi-exclamation-triangle text-warning" viewBox="0 0 16 16">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
          </svg>
          <h2 class="text-warning ms-3" style="font-size: 20px; margin-top: 5px;">Tasks due soon</h2>
        </div>

        <div class="mt-2" *ngFor="let task of displayed_tasks">
          <div *ngIf="isDueSoon(task.dueDate)">
            <p class="ms-5 text-warning" style="color: rgb(221, 221, 221);">- <b>{{task.title}}</b> - Due {{task.dueDate | date:'mediumDate'}}</p> 
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="hasOverdueTasks()">
      <div class="col-12 danger">
        <div class="d-flex justify-content-start align-items-center" style="margin-top: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="margin-left: 10px;" fill="currentColor" class="bi bi-clock text-danger" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
          </svg>
          <h2 class="text-danger ms-3" style="font-size: 20px; margin-top: 5px;">Overdue tasks</h2>
        </div>

        <div class="mt-2" *ngFor="let task of displayed_tasks">
          <div *ngIf="isOverdue(task.dueDate)">
            <p class="ms-5 text-danger" style="color: rgb(221, 221, 221);">- <b>{{task.title}}</b> - Due {{task.dueDate | date:'mediumDate'}}</p> 
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mt-4 col1">
      <div class="card mb-3 display" style="border: 2px dashed #552f86; border-radius: 8px; background-color: #a159ff0e; min-height: 600px;">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold">To Do</h5>
          </div>
          <p class="card-text">Tasks that need to be started</p>
          <p class="card-text">{{todoTaskCount}} {{formatTask(todoTaskCount)}}</p>

          <div *ngFor="let task of displayed_tasks">
            <div *ngIf="task.status === 'To Do'" class="card mb-2 taskcard" style="border: 1px solid rgb(39, 39, 39); border-left: 4px solid #552f86; border-radius: 8px;">
              <div class="card-body" style="margin-bottom: 15px;">
                <div class="d-flex justify-content-center mb-2 options" style="gap: 30px; cursor: pointer;">
                  <a data-bs-toggle="modal" data-bs-target="#editTaskModal" (click)="tobeEditedTaskId = task.id; editedTaskModel = task;" title="Edit Task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </a>
                  <a data-bs-toggle="modal" data-bs-target="#deleteTaskModal" (click)="tobeDeletedTaskId = task.id" title="Delete Task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                  </a>
                </div>
                <div class="d-flex justify-content-between">
                  <h5 class="card-title" style="width: 80%;">{{task.title}}</h5>
                  <select class="form-select" style="width: 120px; height: 30px; font-size: 12px; padding: 2px; padding-left: 10px;" [(ngModel)]="task.status" (ngModelChange)="updateTaskStatus(task.id, task.status)">
                    <option value="To Do" selected>To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                  </select>
                </div>
                <p class="card-text">{{task.description}}</p>
                <div class="d-flex justify-content-between align-items-center" style="gap: 8px; width: 120px;">
                  <span class="spanA" [ngClass]="{'low-priority': task.priority === 'Low', 'medium-priority': task.priority === 'Medium', 'high-priority': task.priority === 'High'}">{{task.priority}}</span>
                  <span class="spanD"><b>To Do</b></span>
                </div>

              </div>
              <div class="card-footer d-flex justify-content-between" style="height: 30px; border-top: 1px solid rgba(107, 107, 107, 0.459);">
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" >
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                  <p style="margin-left: 5px;" class="card-text"><small>{{task.assignedToUserName}}</small></p>
                </div>
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                  </svg>
                  <p style="margin-left: 5px;" class="card-text"><small>{{task.dueDate | date:'mediumDate'}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4 col1">
      <div class="card mb-3 display" style="border: 2px dashed #6a7503; border-radius: 8px; background-color: #6a750321; min-height: 600px;">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold">In Progress</h5>
          </div>
          <p class="card-text">Tasks currently being worked on</p>
          <p class="card-text">{{inProgressTaskCount}} {{formatTask(inProgressTaskCount)}}</p>

          <div *ngFor="let task of displayed_tasks">
            <div *ngIf="task.status === 'In Progress'" class="card mb-2 taskcard" style="border: 1px solid rgb(39, 39, 39); border-left: 4px solid #552f86; border-radius: 8px;">
              <div class="card-body" style="margin-bottom: 15px;">
                <div class="d-flex justify-content-center mb-2 options" style="gap: 30px; cursor: pointer;">
                  <a data-bs-toggle="modal" data-bs-target="#editTaskModal" (click)="tobeEditedTaskId = task.id; editedTaskModel = task" title="Edit Task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </a>
                  <a data-bs-toggle="modal" data-bs-target="#deleteTaskModal" (click)="tobeDeletedTaskId = task.id" title="Delete Task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                  </a>
                </div>
                <div class="d-flex justify-content-between">
                  <h5 class="card-title" style="width: 80%;">{{task.title}}</h5>
                  <select class="form-select" style="width: 130px; height: 30px; font-size: 12px; padding: 2px; padding-left: 10px;"  [(ngModel)]="task.status" (ngModelChange)="updateTaskStatus(task.id, task.status)">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                  </select>
                </div>
                <p class="card-text">{{task.description}}</p>
                <div class="d-flex justify-content-between align-items-center" style="gap: 8px; width: 150px;">
                  <span class="spanA" [ngClass]="{'low-priority': task.priority === 'Low', 'medium-priority': task.priority === 'Medium', 'high-priority': task.priority === 'High'}">{{task.priority}}</span>
                  <span class="spanP"><b>In Progress</b></span>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between" style="height: 30px; border-top: 1px solid rgba(107, 107, 107, 0.459);">
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" >
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                  <p style="margin-left: 5px;" class="card-text"><small>{{task.assignedToUserName}}</small></p>
                </div>
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                  </svg>
                  <p style="margin-left: 5px;" class="card-text"><small>{{task.dueDate | date:'mediumDate'}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-4 col1">
      <div class="card mb-3 display" style="border: 2px dashed #1d7432; border-radius: 8px; background-color: #28a7461a; min-height: 600px;">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title fw-bold">Done</h5>
          </div>
          <p class="card-text">Completed tasks</p>
          <p class="card-text">{{doneTaskCount}} {{formatTask(doneTaskCount)}}</p>

          <div *ngFor="let task of displayed_tasks">
            <div *ngIf="task.status === 'Done'" class="card mb-2 taskcard" style="border: 1px solid rgb(39, 39, 39); border-left: 4px solid #552f86; border-radius: 8px;">
              <div class="card-body" style="margin-bottom: 15px;">
                <div class="d-flex justify-content-center mb-2 options" style="gap: 30px; cursor: pointer;">
                  <a data-bs-toggle="modal" data-bs-target="#editTaskModal" (click)="tobeEditedTaskId = task.id; editedTaskModel = task" title="Edit Task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </a>
                  <a data-bs-toggle="modal" data-bs-target="#deleteTaskModal" (click)="tobeDeletedTaskId = task.id" title="Delete Task">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                  </a>
                </div>
                <div class="d-flex justify-content-between">
                  <h5 class="card-title" style="width: 80%;">{{task.title}}</h5>
                  <select class="form-select" style="width: 120px; height: 30px; font-size: 12px; padding: 2px; padding-left: 10px;" [(ngModel)]="task.status" (ngModelChange)="updateTaskStatus(task.id, task.status)">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                  </select>
                </div>
                <p class="card-text">{{task.description}}</p>
                <div class="d-flex justify-content-between align-items-center" style="gap: 8px; width: 120px;">
                  <span class="spanA" [ngClass]="{'low-priority': task.priority === 'Low', 'medium-priority': task.priority === 'Medium', 'high-priority': task.priority === 'High'}">{{task.priority}}</span>
                  <span class="spanDO"><b>Done</b></span>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between" style="height: 30px; border-top: 1px solid rgba(107, 107, 107, 0.459);">
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" >
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                  <p style="margin-left: 5px;" class="card-text"><small>{{task.assignedToUserName}}</small></p>
                </div>
                <div class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                  </svg>
                  <p style="margin-left: 5px;" class="card-text"><small>{{task.dueDate | date:'mediumDate'}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal for creating task-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create task</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="taskTitle" class="form-label">Title:</label>
            <input type="text" maxlength="50" class="form-control" id="taskTitle" placeholder="Enter title" [(ngModel)]="createdTaskModel.title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="taskDescription" class="form-label">Description:</label>
            <input type="text" maxlength="50" class="form-control" id="taskDescription" placeholder="Enter description" [(ngModel)]="createdTaskModel.description" name="description" required>
          </div>
          <div class="mb-3">
            <label for="taskDueDate" class="form-label">Due Date:</label>
            <input type="date" class="form-control" id="taskDueDate" [(ngModel)]="createdTaskModel.dueDate" name="dueDate" required>
          </div>
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <div class="me-3" style="width: 50%;">
              <label for="assignedToUserName" class="form-label">Assign to user:</label>
              <select class="form-select" id="assignedToUserName" [(ngModel)]="assignedToUserName" name="assignedToUserName" aria-placeholder="Select user to assign" required>
                  <option hidden>Select user to assign</option>
                  <div *ngFor="let user of users">
                    <option value="{{user.userName}}">{{user.userName}}</option>
                  </div>
              </select>
            </div>
            <div class="ms-3" style="width: 50%;">
              <label for="prioritySelect" class="form-label">Priority:</label>
              <select class="form-select" id="prioritySelect" [(ngModel)]="createdTaskModel.priority" name="priority" required>
                  <option value="" hidden>Select priority</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="createTask()" data-bs-dismiss="modal">Add task</button>
      </div>
    </div>
  </div>
</div>

<!--Modal for deleting task-->
<div class="modal fade" id="deleteTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete task</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this task?</p>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteTask()" data-bs-dismiss="modal">Delete task</button>
      </div>
    </div>
  </div>
</div>

<!--Modal for editing task-->
<div class="modal fade" id="editTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit task</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editTaskTitle" class="form-label">Title:</label>
            <input type="text" maxlength="50" class="form-control" id="editTaskTitle" placeholder="Enter title" [(ngModel)]="editedTaskModel.title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="editTaskDescription" class="form-label">Description:</label>
            <input type="text" maxlength="50" class="form-control" id="editTaskDescription" placeholder="Enter description" [(ngModel)]="editedTaskModel.description" name="description" required>  
          </div>
          <div class="mb-3">
            <label for="editTaskDueDate" class="form-label">Due Date:</label>
            <p class="text-danger" style="margin-top: -10px;"><b>* give new due date</b></p>
            <input type="date" class="form-control" id="editTaskDueDate" [(ngModel)]="editedTaskModel.dueDate" name="dueDate" required>
          </div>
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <div class="me-3" style="width: 50%;">
              <label for="editAssignedToUserName" class="form-label">Assign to user:</label>
              <select class="form-select" id="inputGroupSelect02" [(ngModel)]="assignedToUserName" name="assignedToUserName" aria-placeholder="Select user to assign" required>
                  <option hidden>Select user to assign</option>
                  <div *ngFor="let user of users">
                    <option value="{{user.userName}}">{{user.userName}}</option>
                  </div>
              </select>
            </div>
            <div class="ms-3" style="width: 50%;">
              <label for="editPrioritySelect" class="form-label">Priority:</label>
              <select class="form-select" id="editPrioritySelect" [(ngModel)]="editedTaskModel.priority" name="priority" required>
                  <option value="" hidden>Select priority</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" (click)="resetEditedTaskModel()" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="editTask(editedTaskModel)" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>