h1 {
  font-size: 2.5rem;
  color: #a259ff; /* Purple title */
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.1rem;
  color: white; /* Light gray text */
  margin-bottom: 1.8rem;
}

a {
    margin-left:  10px;
}

label {
    font-size: larger;
}

.form-check-label {
  font-size: 1.1rem;
  color: #ffffff; /* White text for checkbox label */
  margin-left: 0.2rem;
}

input {
    width: 100%;
    display: flex;
  align-items: center;
  background-color: #0d0c11;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0.6rem;
  margin-bottom: 1rem;

    color: #ffffff;
}

input ::placeholder {
    color: #ffffff;
}

button {
      width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #a259ff, #6e45e2);
  color: white;
  font-size: larger;
  cursor: pointer;
  transition: background 0.3s ease;
}

@media screen and (max-width: 768px)
{
  .signin {
    width: 350px;
    margin-top: 20%;
  }
}