
  <nav class="navbar navbar-expand-lg bg-dark-subtle" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Brand -->
    <span class="navbar-brand" style="font-size: 26px;">Tasker</span>

    <!-- Toggler (mobile view) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <!-- Centered input group instead of a form -->
      <div class="mx-auto search_bar">
        <div class="input-group" style="width: 50%; margin-left: 23%;">
          <input type="text" class="form-control" placeholder="Create sessions and enjoy working easier" aria-label="Search" disabled>
          <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Create
          </button>
        </div>
      </div>

      <!-- Profile aligned right -->
      <div class="d-flex ms-auto">
        <a data-bs-toggle="offcanvas" data-bs-target="#profileOffcanvas">
          <img src="assets/Images/profile.png" alt="Profile photo" width="40" height="40" />
        </a>
      </div>

    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{userName}}'s sessions</h3>
            <hr>
        </div>
        <div class="col-md-12 text-center">
          <h4 *ngIf="!is_loading" style="margin-top: 20%;" class="text-secondary">You don't have any sessions. Once you create one it will be displayed here.</h4>
          <!--If there are sessions-->
          <div *ngIf="is_loading" class="row row-cols-md-5 g-5" style="margin-top: 20px;">
            <div *ngFor="let l_session of load_Sessions" class="col">
              <a [routerLink]="['/sessions', l_session.id]" style="text-decoration: none; color: inherit;">
                <div class="card">
                  <span class="imgD"></span>
                  <div class="card-body">
                    <h5 class="card-title">{{l_session.title}}</h5>
                    <p class="card-text">{{l_session.description}}</p>
                  </div>
                  <div class="card-footer text-end">
                    <a (click)="deleteSession(l_session.id, $event)" id="btn_delete" style="text-decoration: none; color: inherit;" title="Remove session">
                      <img src="assets/Images/bin.png" alt="Profile photo" width="20" height="20"/>
                    </a>
                  </div>
                </div>
              </a>
  
            </div>
          </div> 
        </div>
        <div class="col-md-12" style="margin-top: 20%;">
          <h3>Other's sessions</h3>
          <hr>
        </div>
        <div class="col-md-12 text-center">
          <h4 *ngIf="!participate_loading" style="margin-top: 20%;" class="text-secondary">You don't participate in any sessions. Once someone invites you sessions will appear here.</h4>
          <!--If there are sessions-->
          <div *ngIf="participate_loading" class="row row-cols-md-5 g-5" style="margin-top: 20px;">
            <div *ngFor="let p_session of participate_Sessions" class="col">
              <a [routerLink]="['/sessions', p_session.id]" style="text-decoration: none; color: inherit;">
                <div class="card">
                  <span class="imgD"></span>
                  <div class="card-body">
                    <h5 class="card-title">{{p_session.title}}</h5>
                    <p class="card-text">{{p_session.description}}</p>
                  </div>
                </div>
              </a>  
            </div>
          </div> 
        </div>
        <div class="col-md-12" style="margin-top: 20%;">
          <h3>Removed sessions</h3>
          <hr>
        </div>
        <div class="col-md-12 text-center">
          <h4 *ngIf="!archive_loading" style="margin-top: 20%;" class="text-secondary">Here are displayed all sessions that you have removed.</h4>
          <!--If there are sessions-->
          <div *ngIf="archive_loading" class="row row-cols-md-5 g-5" style="margin-top: 20px;">
            <div *ngFor="let a_session of archive_Sessions" class="col">
              <a style="text-decoration: none; color: inherit;">
                <div class="inactive card">
                  <span class="imgD"></span>
                  <div class="card-body">
                    <h5 class="card-title">{{a_session.title}}</h5>
                    <p class="card-text">{{a_session.description}}</p>
                  </div>
                  <div class="card-footer d-flex justify-content-between mt-2">
                    <a (click)="restoreSession(a_session.id, $event)" id="btn_restore" id="btn_delete" style="text-decoration: none; color: inherit; margin-right: 10px;" title="Restore session">
                      <img src="assets/Images/undo.png" alt="Profile photo" width="20" height="20"/>
                    </a>
                    <a (click)="tobeDeletedSession(a_session.id)" data-bs-toggle="modal" data-bs-target="#checking" id="btn_delete" style="text-decoration: none; color: inherit;" title="Delete session">
                      <img src="assets/Images/bin.png" alt="Profile photo" width="20" height="20"/>
                    </a>
                  </div>
                </div>
              </a>  
            </div>
          </div> 
        </div>
        <div style="margin-bottom: 250px;">
          </div>
    </div>    
</div>

<!-- Modal -->
<div class="modal fade modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div *ngIf="message" class="text-center" [ngClass]="'alert alert-' + alertType + ' d-flex align-items-center'" role="alert" style="width: 50%; margin: 0 auto; margin-top: 20px;">
      {{ message }}
    </div>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create session</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="sessionName" class="form-label">Session Name</label>
            <input type="text" class="form-control" id="sessionName" placeholder="Enter session name" [(ngModel)]="session.title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="sessionDescription" class="form-label">Session Description</label>
            <textarea class="form-control" id="sessionDescription" rows="3" placeholder="Enter session description" [(ngModel)]="session.description" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="sessionUsers" class="form-label">Participants</label>
            <div class="input-group mb-3">
                <div *ngFor="let p of participants" class="d-flex align-items-center rounded mb-3 participant">
                  <div class="me-3 bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center"
                      style="width: 32px; height: 32px; margin-left: 20px;">
                    {{p.userName?.charAt(0).toUpperCase()}}
                  </div>
                  <div class="flex-grow-1">
                    <div>{{p.userName}}</div>
                    <small class="text" style="color: #b4b1b1;">{{p.userEmail}}</small>
                  </div>
                  <span class="badge bg-primary" style="margin-right: 20px;">{{p.role}}</span>
                  <a style="color: red; font-size: medium;" (click)="removeParticipant(p)"> <bold>X</bold></a>
                </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="addingUsers" class="form-label">Add Users</label>
            <div class="row g-2">
              <div class="col-md"> 
                <input type="text" class="form-control" id="addingUsers" placeholder="Enter user email or username" required [(ngModel)]="user_data.userNameOrEmail" name="userNameOrEmail">
                <div class="input-group mb-3">
                  <select class="form-select" id="inputGroupSelect01" [(ngModel)]="user_data.role" name="role">
                    <option selected disabled>Choose role</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary" style="margin-left: 88%;" (click)="addParticipant()">Add User</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="createSession()">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="checking" aria-labelledby="checking" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete it permanently?</h5>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="hardDeleteSession($event)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Offcanvas Profile -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="profileOffcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Profile</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  
  <div class="offcanvas-body">
    <hr>
    <!-- Profile Header -->
    <div class="text-center mb-4" style="margin-top: 40px;">
      <div class="bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center" style="width: 80px; height: 80px; margin: 0 auto; font-size: 36px;">
        {{userName?.charAt(0).toUpperCase()}}
      </div>
      <h5 class="fw-bold">{{userName}}</h5>
      <p class="mb-1">{{userEmail}}</p>
    </div>

    <!-- Tab Content -->
    <div class="tab-content mt-3">
      <!-- Overview -->
      <div class="tab-pane fade show active" id="overview" role="tabpanel">
        <div class="d-flex justify-content-around" style="margin-top: 50px;">
          <hr>
        </div>
        <!-- Session Statistics -->
        <h6 class="text-uppercase" style="margin-top: 25px;">Session Statistics</h6>
        <div class="row g-2 mb-3" style="margin-top: 20px;">
          <div class="col-6">
            <div class="p-3 bg-dark rounded text-center border border-secondary">
              <div class="fw-bold fs-5">{{load_Sessions.length}}</div>
              <div class="small">Created</div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 bg-dark rounded text-center border border-secondary">
              <div class="fw-bold fs-5">{{participate_Sessions.length}}</div>
              <div class="small">Participated</div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 bg-dark rounded text-center border border-secondary">
              <div class="fw-bold fs-5">{{archive_Sessions.length}}</div>
              <div class="small">Removed</div>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 bg-dark rounded text-center border border-secondary">
              <div class="fw-bold fs-5">0</div>
              <div class="small">Total Hours</div>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="d-grid">
      <button class="btn btn-danger" (click)="logout()">Log Out</button>
    </div>
  </div>
</div>