.nav-link {
    padding-top: 15px;
    margin-left: 20px;
    font-size: 20px;

    color: #a259ff;

    cursor: pointer;
}

h3 {
    color: #a259ff;
}

hr {
    width: 100%;
    height: 1px;
    border-top: #a259ff solid 1px;
    margin: 0px 0;
}

.card {
    background: linear-gradient(135deg, hsl(240, 9%, 13%), hsl(240 8% 6%));
    border: #220a42 solid 3px;
    color: #ffffff;
    margin-bottom: 20px;

    width: 15rem;
    height: 20rem;
}

.card p {
    color: #999797;
}

.card:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(192, 48, 180, 0.2);
}

.card #btn_delete {
    display: none;
}

.card:hover #btn_delete {
    display: block;
}

.inactive {
  opacity: 0.5;               /* make transparent */
  filter: grayscale(30%);     /* slightly gray */    /* prevent interactions if needed */
}

.imgD {

    border-radius: 8px 8px 0 0;

    width: 100%;
    height: 12rem;

    background: linear-gradient(135deg, hsl(281, 65%, 43%), hsl(274, 93%, 12%));
}

a {
    cursor: pointer;
}

.navbar-brand {
    color: #a259ff;
    font-size: 30px;
}

.bg-dark {
  background-color: #1e1e2f !important;
}
.border-secondary {
  border-color: #333 !important;
}

.modal input, textarea, textarea:focus, select {
    width: 100%;
    display: flex;
  align-items: center;
  background-color: #0d0c11;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0.6rem;
  margin-bottom: 1rem;

    color: #ffffff;
}

.search_bar {
    width: 100%;
}

.container {
    margin-top: 100px;
}

.modal-content {
    background: linear-gradient(135deg, hsl(240, 9%, 13%), hsl(240 8% 6%));

    color: #ffffff;
    border: #3c225e solid 1px;
}

.modal-header {
    border: #3c225e solid 1px;
}

.modal-footer {
    border: #3c225e solid 1px;
}

::placeholder {
    color: #b4b4b4;
}

.participant {
    height: 60px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .nav-link {
        margin-left: 10px;
        font-size: 18px;
    }

    .navbar-brand {
        font-size: 24px;
    }

    .search_bar {
        margin-left: 10%;
        width: 80%;
    }

    .card #btn_delete {
        display: block;
    }
    
}