
  <nav class="navbar navbar-expand-lg bg-dark-subtle" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-brand">Tasker</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tasks">Tasks</a>
        </li>
        </ul>
        <form class="d-flex search_bar" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create</button>
        </form>
        <div class="col-md d-flex justify-content-end">
            <a>
              <img src="assets/Images/profile.png" alt="Profile photo" width="40" height="40"/>
            </a>
        </div>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{userName}}'s sessions</h3>
            <hr>
        </div>
        <div class="col-md-12 text-center">
          <h4 *ngIf="!is_loading" style="margin-top: 20%;" class="text-secondary">You don't have any sessions. Once you create one it will be displayed here.</h4>
          <!--If there are sessions-->
          <div *ngIf="is_loading" class="row row-cols-md-5 g-5" style="margin-top: 20px;">
            <div *ngFor="let l_session of load_Sessions" class="col">
              <a [routerLink]="['/sessions', l_session.id]" style="text-decoration: none; color: inherit;">
                <div class="card">
                  <span class="imgD"></span>
                  <div class="card-body">
                    <h5 class="card-title">{{l_session.title}}</h5>
                    <p class="card-text">{{l_session.description}}</p>
                  </div>
                  <div class="card-footer text-end">
                    <a (click)="deleteSession(l_session.id)" style="text-decoration: none; color: inherit;" title="Delete session">
                      <img src="assets/Images/bin.png" alt="Profile photo" width="20" height="20"/>
                    </a>
                  </div>
                </div>
              </a>
  
            </div>
          </div> 
        </div>
        <div class="col-md-12" style="margin-top: 20%;">
          <h3>Other's sessions</h3>
          <hr>
        </div>
        <div class="col-md-12 text-center">
          <h4 *ngIf="!participate_loading" style="margin-top: 20%;" class="text-secondary">You don't participate in any sessions. Once someone invites you sessions will appear here.</h4>
          <!--If there are sessions-->
          <div *ngIf="participate_loading" class="row row-cols-md-5 g-5" style="margin-top: 20px;">
            <div *ngFor="let p_session of participate_Sessions" class="col">
              <a [routerLink]="['/sessions', p_session.id]" style="text-decoration: none; color: inherit;">
                <div class="card">
                  <span class="imgD"></span>
                  <div class="card-body">
                    <h5 class="card-title">{{p_session.title}}</h5>
                    <p class="card-text">{{p_session.description}}</p>
                  </div>
                </div>
              </a>  
            </div>
          </div> 
        </div>
        <div class="col-md-12" style="margin-top: 20%;">
          <h3>Archived's sessions</h3>
          <hr>
        </div>
        <div class="col-md-12 text-center">
          <h4 *ngIf="!archive_loading" style="margin-top: 20%;" class="text-secondary">You don't participate in any sessions. Once someone invites you sessions will appear here.</h4>
          <!--If there are sessions-->
          <div *ngIf="archive_loading" class="row row-cols-md-5 g-5" style="margin-top: 20px;">
            <div *ngFor="let a_session of archive_Sessions" class="col">
              <a style="text-decoration: none; color: inherit;">
                <div class="card">
                  <span class="imgD"></span>
                  <div class="card-body">
                    <h5 class="card-title">{{a_session.title}}</h5>
                    <p class="card-text">{{a_session.description}}</p>
                  </div>
                  <div class="card-footer text-end">
                    <a style="text-decoration: none; color: inherit;" title="Delete session">
                      <img src="assets/Images/bin.png" alt="Profile photo" width="20" height="20"/>
                    </a>
                  </div>
                </div>
              </a>  
            </div>
          </div> 
        </div>
        <div style="margin-bottom: 250px;">
          </div>
    </div>    
</div>

<!-- Modal -->
<div class="modal fade modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div *ngIf="message" class="text-center" [ngClass]="'alert alert-' + alertType + ' d-flex align-items-center'" role="alert" style="width: 50%; margin: 0 auto; margin-top: 20px;">
      {{ message }}
    </div>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create session</h1>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="sessionName" class="form-label">Session Name</label>
            <input type="text" class="form-control" id="sessionName" placeholder="Enter session name" [(ngModel)]="session.title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="sessionDescription" class="form-label">Session Description</label>
            <textarea class="form-control" id="sessionDescription" rows="3" placeholder="Enter session description" [(ngModel)]="session.description" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="sessionUsers" class="form-label">Participants</label>
            <div class="input-group mb-3">
                <div *ngFor="let p of participants" class="d-flex align-items-center rounded mb-3 participant">
                  <div class="me-3 bg-secondary text-white rounded-circle d-flex justify-content-center align-items-center"
                      style="width: 32px; height: 32px; margin-left: 20px;">
                    {{p.userName?.charAt(0).toUpperCase()}}
                  </div>
                  <div class="flex-grow-1">
                    <div>{{p.userName}}</div>
                    <small class="text" style="color: #b4b1b1;">{{p.userEmail}}</small>
                  </div>
                  <span class="badge bg-primary" style="margin-right: 20px;">{{p.role}}</span>
                  <a style="color: red; font-size: medium;" (click)="removeParticipant(p)"> <bold>X</bold></a>
                </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="addingUsers" class="form-label">Add Users</label>
            <div class="row g-2">
              <div class="col-md"> 
                <input type="text" class="form-control" id="addingUsers" placeholder="Enter user email or username" required [(ngModel)]="user_data.userNameOrEmail" name="userNameOrEmail">
                <div class="input-group mb-3">
                  <select class="form-select" id="inputGroupSelect01" [(ngModel)]="user_data.role" name="role">
                    <option selected disabled>Choose role</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary" style="margin-left: 88%;" (click)="addParticipant()">Add User</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="createSession()">Create</button>
      </div>
    </div>
  </div>
</div>